<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head>
  <body>
    <h1>{{name}}'s CodeSnippets</h1>
    {{#displaySnippets}}
    <h3>{{title}}</h3>
    <h4>{{language}}</h4>
    <p>{{body}}</p>
    {{#notes}}
    <p>{{.}}</p>
    {{/notes}}
    {{#tags}}
    <ul>
      <li>{{tagName}}</li>
    </ul>
    {{/tags}}
    {{/displaySnippets}}
  </body>
</html>
